body {
    background: rgb(70,113,252);
background: radial-gradient(circle, rgba(70,113,252,1) 9%, rgba(161,183,246,1) 85%);
}

.cardpos {
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.headingtxt {
   
    color: white;
    text-align: center;
}

.loginimage {
   
    height: 100px;
    width: 100px;
    
}

.cardsize {
    height: 550px;
    width: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputimage {

    height: 40px;
    width: 40px;
    color: white;
}

.input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
}

.loginbutton {
    color: white;
    width: 200px;
} 
.sf {
    color: white;
    
}